.DS_Store
/node_modules/.bin
/node_modules/.pnpm
/node_modules/.modules.yaml
/dist

# local env
/public/env.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

tmp/
*.bk
.project
/node_modules/
/node_modules*/
/bin/
/public/static/bundle.*
/.idea/
nexus.crt
/.vscode/
/build/manifest.json
/build/react-loadable.json
/public/me
/public/static/js
/public/static/css
/public/static/*.js
/public/static/*.ttf
/public/static/*.eot
/public/static/lib.js
/public/static/images
yarn-error.log
dist
map
html
dist.zip
mmm.tar.gz
latest-dist/static/env.js

src/locales/_build/
src/locales/**/*.js
cypress/integration/examples
cypress/screenshots
cypress/videos
cypress.env.js
postman

ci.*

/__mock__
